<h2 class="title collapse_title">
	<a 
		data-target="#common-content" 
		data-toggle="collapse" 
		aria-expanded="true" 
		aria-controls="common-content"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		En-têtes du document
	</a>
</h2>
<div class="collapse_content">
	<div id="common-content" class='content collapse in' aria-expanded="true">
		<div class='errors'></div>
		<form class='form' name='common' action="#" onSubmit="return false;">
			<div class='layout flex'>
				<div class='col-md-6'>
					<div class='date'></div>
					<div class='description'></div>
				</div>
				<div class='col-md-6'>
					<div class='address'></div>
				</div>
			</div>
			<div class="collapsible separate_top content_vertical_padding">
				<h4 class='collapse_title'>
					<a
						data-target='#common-more'
						data-toggle='collapse'
						aria-expanded="false"
						aria-controls="common-more"
						>
						<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
						Plus d’options (Lieu des travaux, mentions facultatives…)
					</a>
				</h4>
				<div class="collapse_content">
					<div class='collapse row {{#if is_more_set}}in{{/if}} layout flex' aria-expanded="{{#if is_more_set}}true{{else}}false{{/if}}" id="common-more">
						<div class='col-md-6'>
							<div class='workplace'></div>
						</div>
						<div class='col-md-6'>
							<div class='mentions'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
