<td class="col_status">
	<span class='icon status {{status}}'>
		<svg><use href="/static/icons/endi.svg#{{ status }}"></use></svg>
	</span>
</td>
<td class="col_text">
	{{{ label }}}
</td>
<td class="col_actions">
	{{#if has_view}}
	<button class='btn icon only btn-view' title="Voir / Modifier le fichier" aria-label="Voir / Modifier le fichier">
		<svg><use href="/static/icons/endi.svg#pen"></use></svg>
	</button>
	{{/if}}
	{{#if has_add}}
	<button class='btn icon only btn-add' title="Déposer un fichier" aria-label="Déposer un fichier">
		<svg><use href="/static/icons/endi.svg#plus"></use></svg>
	</button>
	{{/if}}
	{{#if has_valid_link}}
	<button class='btn icon only btn-validate' title="Valider le fichier fourni ?" aria-label="Valider le fichier fourni ?">
		<svg><use href="/static/icons/endi.svg#check"></use></svg>
	</button>
	{{/if}}
</td>
