<div class='form-group'>
    {{#if title}}
        <label for="{{tagId}}">
            {{title}}
            {{#if togglable}}
                {{#if editable}}
                    {{#if editing }}
                        <button class='btn icon only edit' title='Terminer les modifications' aria-label='Terminer les modifications'>
                            <svg><use href="/static/icons/endi.svg#chevron-up"></use></svg>
                        </button>
                    {{else}}
                        <button class='btn icon only edit' title='Modifier' aria-label='Modifier'>
                            <svg><use href="/static/icons/endi.svg#pen"></use></svg>
                        </button>
                    {{/if}}
                {{/if}}
            {{/if}}
        </label>
    {{/if}}
    {{#if editing}}
        {{#each options}}
        <div class='checkbox'>
            <label>
            <input 
                id="{{tagId}}" 
                type='checkbox'
                name='{{ ../field_name }}'
                value='{{this.id}}'
                aria-label="{{this.label}}"
                {{#if this.selected}}checked{{/if}} /> {{this.label}}
                    {{#if this.help_text}}
                        <span class='help-block'>{{ this.help_text }}</span>
                    {{/if}}
            </label>
        </div>
        {{#if ../description}}
        <span class='help-block'>{{ ../description }}</span>
        {{/if}}
        {{else}}
        <div></div>
        {{/each }}
    {{else}}
        <ul>
            {{#each options}}
            {{#if this.selected}}
            <li>{{this.label}}</li>
            {{/if}}
            {{/each }}
        </ul>
    {{/if}}
</div>
