@import 'reset';
@import 'variables';

@import 'IE';

// @import 'generic/aside';
// @import 'generic/catalogue';
@import 'generic/collapsible';
@import 'generic/entities_choice';
@import 'generic/form';
// @import 'generic/gauges';
@import 'generic/header';
@import 'generic/help';
@import 'generic/layout';
@import 'generic/lists';
@import 'generic/main_content';
@import 'generic/menu';
@import 'generic/modal';
// @import 'generic/notif';
@import 'generic/pager';
@import 'generic/popup';
@import 'generic/table';
@import 'generic/tabs';
@import 'generic/typo';

// framework-related
@import 'frameworks/jquery';
@import 'frameworks/select2';
@import 'frameworks/tinyMCE';

// temporary loading before stylesheets are linked to pages

body.endi {
	background: $white;
	ul {
		list-style-type: square;
		list-style-position: inside;
	}
	dt {
		font-weight: bold;
	}
	h1,
	h2,
	legend,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		svg {
			height: 1em;
			width: 1em;
		}
	}
	h2 small {
		font-weight: normal;
		padding-left: $unitPadding;
		.icon.status {
			margin: 0 0 0 $unitPadding;
		}
	}
	a:link,
	a:visited {
		color: $midBlue;
		text-decoration: none;
	}
	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}
	.align_right {
		text-align: right;
	}
	.align_center {
		text-align: center;
	}
	.icon {
		display: inline-block;
		position: relative;
		> svg {
			font-size: 1rem;
			height: 1rem;
			pointer-events: none;
			vertical-align: sub;
			width: 1rem;
			title {
				display: none;
			}
		}
		&.close {
			svg {
				margin: 2px;
			}
		}
		&.big {
			> svg {
				font-size: 2rem;
				height: 2rem;
				width: 2rem;
			}
		}
		&.spin {
			animation: spin_anim 3s linear infinite;
		}
		.bubble {
			background: $funcNegative;
			border-radius: 50%;
			bottom: -3px;
			box-shadow: 0 1px 1px $black;
			display: inline-block;
			color: $white;
			height: 1.5em;
			line-height: 1.5em;
			position: absolute;
			right: -3px;
			text-align: center;
			width: 1.5em;
		}
		&.type {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			&.default {
				background-image: url("../icons/caret.svg");
			}
			&.product {
				background-image: url("../icons/box.svg");
			}
			&.group {
				background-image: url("../icons/composite.svg");
			}
			&.training {
				background-image: url("../icons/training.svg");
			}
			&.service {
				background-image: url("../icons/service.svg");
			}
			&.workforce {
				background-image: url("../icons/workforce.svg");
			}
		}
	}
	a.icon {
		svg {
			margin-right: $unitPadding;
			vertical-align: text-top;
		}
	}
	a.icon:not(.btn):hover > svg,
	a.icon:not(.btn):focus > svg,
	a.icon:not(.btn):active > svg {
		filter: drop-shadow( 0 1px 0 $white);
		fill: $lightGreen;
	}
	.icon.status {
		background: $midGrey;
		border-radius: 4px;
		display: inline-block;
		height: 28px;
		padding: 5px;
		width: 28px;
		svg {
			fill: $white;
			height: 18px;
			margin: 0 !important;
			vertical-align: baseline;
			width: 18px;
		}
		&.big {
			height: 48px;
			width: 48px;
			svg {
				height: 40px;
				width: 40px;
			}
		}
		&.success,
		&.valid,
		&.completed {
			background: $funcPositive;
		}
		&.caution,
		&.wait,
		&.danger {
			background: $funcCaution;
		}
		&.partial_unpaid {
			background: linear-gradient(160deg, $funcPositive 0%, $funcPositive 50%, $funcCaution 51%, $funcCaution 100%);
		}
		&.error,
		&.invalid,
		&.cancelled,
		&.failed,
		&.unpaid {
			background: $darkFuncNegative;
		}
		&.draft,
		&.closed {
			background: $midGrey;
		}
		&.disabled {
			background: $lightGrey;
		}
		&.neutral,
		&.planned {
			background: $funcNeutral;
		}
	}
	h2 .icon.status {
		svg {
			vertical-align: text-top;
		}
	}
	p .icon svg {
		vertical-align: baseline;
	}
	svg {
		&.neutral {
			fill: $funcNeutral;
		}
		&.error,
		&.invalid {
			fill: $funcNegative;
		}
		&.caution {
			fill: $funcCaution;
		}
		&.success,
		&.valid {
			fill: $funcPositive;
		}
	}
	.user_avatar {
		background: $black;
		border-radius: 50%;
		clip-path: circle(24px);
		display: inline-block;
		height: 48px;
		margin-right: 5px;
		vertical-align: middle;
		width: 48px;
		img {
			height: 48px;
			width: 48px;
		}
		svg {
			height: 36px;
			fill: $white;
			margin: 12px 6px 0;
			width: 36px;
		}
	}
	.badge {
		background: $black;
		border-radius: 25%;
		color: $white;
		display: inline-block;
		font-size: .75rem;
		line-height: 1.25rem;
		text-align: center;
		vertical-align: baseline;
		width: 1.25rem;
	}
	.pop_div {
		background: $white;
		box-shadow: 0 2px 4px $midGrey;
		position: absolute;
		ul {
			list-style-type: none;
			a {
				color: $black;
				display: block;
				padding: $unitPadding*2 $unitPadding*3;
				text-decoration: none;
				&:hover,
				&:focus,
				&:active {
					background: $lightGreen;
				}
			}
		}
	}
	&.preload * {
		transition: none !important;
	}
	.loading_box {
		align-items: center;
		background: $transBlack;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: $spinner;
		svg {
			animation: spin_anim 3s linear infinite;
			height: 8rem;
			width: 8rem;
			fill: $white;
		}
	}
	.text_block {
		margin: $unitPadding 0;
		padding: $unitPadding*2 0;
	}
	hr {
		border: 1px solid $fadedGrey;
		border-width: 1px 0 0;
	}
	.separate_top {
		border-top: 1px solid $fadedGrey;
		margin-top: $unitPadding*4;
	}
	.separate_bottom {
		border-bottom: 1px solid $fadedGrey;
		margin-bottom: $unitPadding*4;
	}
	.separate_top_dashed {
		border-top: 1px dashed $fadedGrey;
		margin-top: $unitPadding*2;
	}
	.separate_bottom_dashed {
		border-bottom: 1px dashed $fadedGrey;
		margin-bottom: $unitPadding*2;
	}
	.space_top {
		margin-top: $unitPadding*2;
	}
	.space_bottom {
		margin-bottom: $unitPadding*2;
	}
	.separate_block {
		box-shadow: 0 2px 4px $midGrey;
		margin-bottom: $unitPadding*4;
	}
	.content_padding {
		padding: $unitPadding;
	}
	.content_vertical_padding {
		padding: $unitPadding 0;
	}
	.content_horizontal_padding {
		padding: 0 $unitPadding;
	}
	.border_left_block {
		border-left: $unitPadding solid $black;
	}
	.status_block {
		color: $white;
		font-weight: bold;
		&.positive {
			background: $funcPositive;
		}
		&.negative {
			background: $funcNegative;
		}
		&.caution {
			background: $funcCaution;
		}
	}
	.activity-total,
	.internal-total {
		background: $veryFadedBlue;
		margin: 0 0 $unitPadding*2;
		padding: $unitPadding;
	}
	.grand-total {
		background: $veryFadedBlue;
		margin: $unitPadding*2 0;
		padding: $unitPadding;
	}
	.totals.form-section{
		display: flex;
		justify-content: flex-end;
		.layout.flex {
			width: 12em;
			> div:nth-child(2n + 1) p {
				padding-top: 2px;
			}
			> div:nth-child(2n) p {
				text-align: right;
			}
		}
	}

	.screen-reader-text {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
	.screen-reader-text:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
		clip: auto !important;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: .875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
// hiding content except for accessibility devices, often use to be replaced by generated content (icons)
	.visuallyhidden {
		border: 0 none !important;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	@-webkit-keyframes appear_anim {
		0% {
			display: block;
			opacity: 0;
			transform: scale(.75);
			visibility: visible;
		}
		5% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes appear_anim {
		0% {
			display: block;
			opacity: 0;
			transform: scale(.75);
			visibility: visible;
		}
		5% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
	@-webkit-keyframes dismiss_anim {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		95% {
			opacity: 0;
		}
		100% {
			display: none;
			opacity: 0;
			transform: scale(.75);
			visibility: hidden;
		}
	}
	@keyframes dismiss_anim {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		95% {
			opacity: 0;
		}
		100% {
			display: none;
			opacity: 0;
			transform: scale(.75);
			visibility: hidden;
		}
	}
	@-webkit-keyframes spin_anim {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes spin_anim {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.icon .bubble {
			bottom: 2px;
			font-size: .825rem;
			height: 1.75em;
			line-height: 1.75em;
			right: 2px;
			width: 1.75em;
		}
		.separate_block {
			margin-left: -( $unitPadding );
			margin-right: -( $unitPadding );
		}
		.border_left_block {
			margin-left: -( $unitPadding*2 );
			max-width: calc( 100vw - 10px );
			overflow-x: auto;
		}
	} 
}
body.endi.theme_manage_people {
	.border_left_block {
		border-left-color: $darkBlue;
	}
	.user_avatar,
	.badge,
	.icon.status.mode {
		background: $darkBlue;
	}
}
body.endi.theme_manage_entity {
	.border_left_block {
		border-left-color: $veryLightBlue;
	}
	.user_avatar,
	.badge,
	.icon.status.mode {
		background: $veryLightBlue;
		svg {
			fill: $black;
		}
	}
}


@media print { // styles used when printing pages
	@page {
		margin: 1cm;
	}
	html,
	body {
		overflow: visible;
		page-break-after: avoid;
	}
	body.endi {
		background: $white;
		color: $black;
		font-size: 10pt;
		max-width: 100%;
		page-break-after: avoid;
		.base_layout.layout.flex {
			display: block;
			height: auto;
			overflow: visible;
			page-break-after: avoid;
		}
		.base_content.layout.flex {
			display: block;
			outline: none;
			padding: $print_unitPadding/2;
		}
		.main_area,
		.main_area > main,
		.main_content {
			display: block;
			height: auto;
			overflow: visible;
			page-break-after: avoid;
			max-width: 100%; 
			padding: 0;
			width: 100%; 
		}
		.main_header {
			height: auto;
			padding: 0;
			.header_content {
				overflow: visible;
				> div {
					overflow: visible;
				}
			}
			h1 {
				overflow: visible;
				white-space: normal;
				.icon {
					display: none;
				}
			}
		}
		.content {
			width: 100%;
		}
		h1 {
			font-size: 14pt;
		}
		h2 {
			font-size: 13pt;
		}
		h3 {
			font-size: 12pt;
		}
		h4,
		h5,
		h6 {
			font-size: 11pt;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.keep_with_next {
			page-break-after: avoid;
		}
		ul {
			page-break-inside: avoid;
		}
		.table_container {
			display: contents !important;
			height: auto;
			margin: 0;
			overflow-x: visible;
			padding: $print_unitPadding/2 $print_unitPadding/4 $print_unitPadding*4 !important;
			width: 100% !important;
			thead {
				position: static;
			}
		}
		table { 
			page-break-inside: auto;
			tr {
				page-break-inside: avoid;
				page-break-after: auto;
			}
			thead {
				display: table-header-group;
				page-break-after: avoid;
			}
			tfoot {
				display: table-footer-group;
				page-break-before: avoid;
			}
			th,
			td {
				font-size: 10pt;
			}
		}
		.tab-content {
			border: 0 none !important;
			height: auto;
			overflow: visible;
			padding: $print_unitPadding 0;
			page-break-after: avoid;
			width: 100%;
		}
		.nav-tabs {
			display: none;
		}
		.tab-content .tab-pane {
			display: block !important;
			visibility: visible !important;
		}
		.hidden-print {
			display: none !important;
		}
		.nav-pills,
		button,
		.btn,
		.col_actions,
		.main_toolbar {
			display: none !important;
		}
	}
}

