{{#edit}}
<div class="layout flex two_cols">
{{else}}
<div class="layout flex">
{{/edit}}
	<div>
		<h2>
			{{ category.label }}
		</h2>
		<p>
			{{ category.description }}
		</p>
	</div>
    {{#edit}}
    <div class="align_right">
        <button class='btn btn-primary add'>
            <svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter une dépense
        </button>
    </div>
    {{/edit}}
</div>
<div class="table_container">
	<table class="opa hover_table top_align_table">
		<thead>
			<tr>
				<th scope="col" class="col_date">Date</th>
				<th scope="col" class="col_text">Type de dépense</th>
				<th scope="col" class="col_text">Description</th>
				{{#if is_achat}}
					<th scope="col" class="col_text">Client</th>
				{{/if}}
				<th scope="col" class="col_number">Montant HT</th>
				<th scope="col" class="col_number">Tva</th>
				<th scope="col" class="col_number">Total TTC</th>
				{{#edit}}
				<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				{{/edit}}
			</tr>
		</thead>
		<tbody class='lines'>
		</tbody>
		<tfoot>
			<tr class="row_recap">
				{{#if is_achat}}
					<th scope='row' colspan='4' class='col_text'>Total</th>
				{{else}}
					<th scope='row' colspan='3' class='col_text'>Total</th>
				{{/if}}
				<td class='total_ht col_number'></td>
				<td class='total_tva col_number'></td>
				<td class='total_ttc col_number'></td>
				{{#edit}}
				<td class='col_actions'></td>
				{{/edit}}
			</tr>
		</tfoot>
	</table>
</div>