<%namespace file="endi:templates/base/utils.mako" import="format_text" />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="" type="image/x-icon" />
        <meta name="description" comment="">
        <meta name="KEYWORDS" CONTENT="">
        <meta NAME="ROBOTS" CONTENT="INDEX,FOLLOW,ALL">
        <link href="${request.static_url('endi:static/css/pdf.css', _app_url='')}" rel="stylesheet"  type="text/css" />
        <% config = request.config %>
        <style>
                    <%
if config.has_key('activity_footer'):
    footer_height = len(config.get('activity_footer').splitlines())
    footer_height = footer_height * 0.8 + 2
else:
    footer_height = 2
%>

            @page {
                size: a4 portrait;
                @frame content_frame {
                    margin: 1cm;
                    border: 0pt solid white;
                    margin-bottom: ${footer_height}cm;
                }
                @frame footer_frame {
                    -pdf-frame-content: footer_content;
                    bottom: 0cm;
                    margin-left: 1cm;
                    margin-right: 1cm;
                    height: ${footer_height}cm;
                    border: 0pt solid white;
                    vertical-align:bottom;
                }
            }
        </style>
    </head>
    <body class="endi pdf_export">
    	<div class="activity_view">
			<img src="/public/activity_header_img.png" />

			<div><b>Date : </b> le ${api.format_date(activity.datetime)}</div>
			<div><b>Durée : </b> ${activity.duration}</div>

			<div class="pdf_title_block">
				<h2 class='upper'>${activity.action_label}</h2>
				<p>${activity.subaction_label}</p>
				<h1>${activity.type_object.label}</h1>
			</div>
			
			<div class="activity_people">
				<div>Conseiller : ${', '.join([api.format_account(conseiller) for conseiller in activity.conseillers])}</div>
				<% companies = set() %>
				<div>Participants :
				% for user in activity.sorted_participants:
					${api.format_account(user)} ( ${"'".join([c.name for c in user.companies])} )
					% if not loop.last:
						,
					% endif
				% endfor
				</div>
			</div>
			<% options = (\
				(u"Objectifs du rendez-vous", "objectifs"), \
				(u"Points abordés", "point"),\
				(u"Plan d'action et préconisations", "action" ),\
				(u"Documents produits", "documents" ),\
				)
			%>
			% for label, attr in options:
				<h3 class='activity-title' >${label}</h3>
				<div class="activity-content">
					% if getattr(activity, attr) is not None:
					${api.clean_html(getattr(activity, attr))|n}
					% endif
				</div>
			% endfor
			<br />
			<br />
			<table>
			<tr>
				<td style="padding-bottom:50px; width:50%">
					<b>Signature Conseiller</b>
				</td>
				<td style="padding-bottom:50px; width:50%">
					<b>Signature Participant</b>
				</td>
				</tr>
				</table>

		  <div id="footer_content">
			<img src="/public/activity_footer_img.png" />
			<div class='row' id='footer'>
				% if config.has_key('activity_footer'):
					${format_text(config.get('activity_footer'))}
				% endif
			</div>
	    </div>
    </div>
</body>
</html>
