{{#if multiPayment}}
    Paiements effectués
{{else}}
    Paiement effectué
{{/if}}
 à {{{ supplierName }}} :

<ul>
{{#if noPayment }}
    <li>Aucun pour l'instant.</li>
{{/if}}

{{#each payments}}
    <li>
        <a href="/supplier_payments/{{{ this.id }}}">
            {{{ this.amount }}} le {{{ this.date }}} ({{{ this.mode }}}{{#if this.bank_remittance_id}} : {{{ this.bank_remittance_id }}} {{/if}})
        </a>
    </li>
{{/each}}
</ul>
