body.endi {
	.select2-container {
		min-width: 9em;
		max-width: 25em;
		.select2-choice {
			background: $white;
			border: 0 none;
			border-bottom: 1px solid $black;
			border-radius: 0;
			color: $black;
			font-size: .875rem;
			height: 40px;
			line-height: 20px;
			padding: $unitPadding*2 0;
			&:focus {
				box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey, 0 3px 0 $veryFadedGrey;
			}
			&:hover,
			&:focus {
				text-decoration: none;
			}
			div {
				background: none;
				border: 0 none;
				b {
					background: url("../icons/chevron-select.svg") no-repeat 0 50%;
					background-size: 16px 12px;
				}
			}
			abbr {
				background: none;
				right: 32px;
				&::after {
					color: $black;
					content: "\000D7"; // x
					display: block;
					font-size: 16px;
				}
				&:hover::after {
					color: $lightGreen;
				}
			}
		}
		.select2-choices {
			background: $white;
			border: 1px solid $black;
			border-width: 0 0 1px;
			max-width: 100%;
			.select2-search-choice {
				border-radius: 0;
				border-color: $fadedGrey;
				background: $veryFadedGrey;
				padding: $unitPadding $unitPadding $unitPadding $unitPadding*4;
			}
			.select2-search-choice-close {
				background: none;
				color: $black;
				height: 16px;
				left: 0;
				margin-top: -8px;
				text-align: center;
				top: 50%;
				width: 16px;
				&::after {
					content: "\000D7"; // x
					display: inline;
					font-size: 1rem;
				}
				&:hover,
				&:focus,
				&:active {
					color: $lightGreen;
					text-decoration: none;
				}
			}
		}
	}
	.select2-container:not(.select2-container-disabled) {
		.select2-choice {
			&:hover div b,
			&:focus div b {
				background-image: url("../icons/chevron-select-active.svg");
			}
		}		
	}
	.select2-container.select2-container-disabled {
		.select2-choice {
			border-bottom-color: $fadedGrey;
		}
	}
	.form-group[class*="col-md"],
	.form-group.item-company_manager_id { // données relatives à l’atelier
		.select2-container {
			min-width: 100%;
			max-width: 100%;
		}
	}
	.base_menu {
		nav li > .select2-container {
			padding-right: 2px;
			padding-left: 2px;
			max-width: 100%;
			width: 100% !important;
		}
		.select2-choice {
			font-size: .875rem;
			font-weight: bold;
			padding-left: $unitPadding;
			padding-right: $unitPadding;
			div {
				width: 16px;
			}
		}
	}
	.select2-drop {
		border: 0 none;
		border-radius: 0;
		box-shadow: 0 0 4px $midGrey;
		.select2-results {
			font-size: .875rem;
			margin-top: $unitPadding;
		}
		.select2-highlighted {
			background: $black;
		}
	}
	.select2-container-multi {
		max-width: 100%;
		min-width: 100%;
	}
	.select2-container-multi.select2-container-active .select2-choices {
		border-color: $black;
		border-width: 0 0 1px;
		box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey, 0 3px 0 $veryFadedGrey;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.select2-container {
			min-width: calc( 100vw - 30px );
		}
	}
}
body.endi.theme_manage_people {
	.select2-drop {
		.select2-highlighted {
			background: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity {
	.select2-drop {
		.select2-highlighted {
			background: $veryLightBlue;
			color: $black;
		}
	}
}