body.endi {
	.mce-panel {
		background: $veryFadedGrey;
		border: 0 none;
		width: 100%;
	}
	.mce-container, 
	.mce-container *, 
	.mce-widget, 
	.mce-widget *, 
	.mce-reset {
		font-family: 'OpenSans', sans-serif;
		font-size: .875rem;
	}
	.mce-container {
		border-bottom: 1px solid transparent;
	}
	.has-error > .mce-container {
		border-bottom: 1px solid $funcNegative;
	}
	.mce-menubar {
		border-color: $white;
		button {
			padding: $unitPadding*1.5 $unitPadding*2;
		}
	}
	.mce-menu {
		background: $suggestTransWhite;
		border-radius: 0;
		max-width: 20em;
		.mce-menu-item:hover, 
		.mce-menu-item.mce-selected, 
		.mce-menu-item:focus {
			background: $lightGreen;
			* {
				color: $black;
			}
		}
		.mce-menu-item-normal.mce-active {
			background: $hoverGreen;
		}
	}
	.mce-toolbar-grp,
	.mce-statusbar,
	.mce-menubar {
		background: $veryFadedGrey;
	}
	.mce-container button i,
	.mce-resizehandle i,
	.mce-ico {
		font-family: "tinymce",Arial;
		font-size: 14px;
	}
// 	.mce-btn-group {
// 		border-right: 1px solid $fadedGrey;
// 	}
	.mce-toolbar-grp {
		button {
			background: none;
			border: 0 none;
			padding: $unitPadding $unitPadding*1.5;
		}
		.mce-btn:not(.mce-disabled) button:hover,
		.mce-btn:not(.mce-disabled) button:focus,
		.mce-btn:not(.mce-disabled) button:active {
			background: $lightGreen;
		}
		.mce-btn.mce-disabled button {
			box-shadow: none;
		}
	}
	.mce-btn {
		background: none;
		border: 0 none;
		border-radius: 0;
		box-shadow: none;
	}
	.mce-edit-area {
		background: $veryFadedGrey;
		padding: 1px;
		width: calc( 100% - 2px );
	}
	.mce-container .mce-tooltip {
		color: $white;
	}
	.mce-content-body {
		color: $black;
	}
}
