// product catalogue tree view

body.endi .catalogue {
	text-align: left;
	> label input {
		width: 100%;
	}
	label:not([for]) {
		padding: $unitPadding 0;
	}
	.product_list {
		flex-wrap: nowrap;
		p {
			flex: 0 1 auto;
		}
		button {
			flex: 0 0 auto;
			margin: $unitPadding 0 $unitPadding $unitPadding;
		}
	}
	ul {
		list-style-type: none;
		input:checked + span {
			font-weight: bold;
		}
		li {
			font-size: .825rem;
		}
	}
	> ul {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		margin-top: $unitPadding;
		> li {
			padding-right: $unitPadding*2;
			position: relative;
		}
	}
	ul ul {
		li {
			padding-left: 3.5rem;
			position: relative;
			&::before,
			&::after {
				content: "";
				border: 1px dotted $lightGrey;
				left: 2.5rem;
				position: absolute;
				width: 1rem;
			}
			&::before {
				top: 0;
			}
			&:not(:last-child)::before {
				bottom: 0;
				border-width: 0 0 0 1px;
			}
			&:last-child::before {
				border-width: 0 0 1px 1px;
				height: .9rem;
			}
			&:not(:last-child)::after {
				border-width: 0 0 1px 0;
				top: .9rem;
			}
			&:last-child::after {
				display: none;
			}
			small {
				display: block;
			}
		}
	}
	p {
		padding: $unitPadding 0;
	}
	.collapsible + .collapsible {
		margin-top: 0;
	}
	button[aria-expanded] {
		all: inherit;
		cursor: pointer;
		left: 0;
		padding: $unitPadding;
		position: absolute;
		top: 0;
		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
			svg {
				fill: $lightGreen;
			}
		}
		+ label {
			margin-left: 2rem;
			width: calc( 100% - 1rem );
		}
	}
}
body.endi table .catalogue > ul {
	max-height: 18em;
	overflow-y: auto;
}
body.endi .main_area aside .catalogue {
	> ul > li {
		max-width: 100%;
	}
}
@media ( min-width: $wideWidth ) {
	body.endi .catalogue {
		> ul > li {
			max-width: 33.3333%;
			padding-right: $unitPadding*4;
		}
	}
}
