// base screen layout, content blocks layout management (columns, flex layout)

body, html {
	overflow: hidden;
}
body.endi .base_layout {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}
body.endi .base_content {
// 	background: $veryFadedGrey;
	flex: 1 0 auto;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}
body.endi .main_area {
	height: calc( 100vh - 50px );
	overflow: auto;
	> main {
		min-height: calc( 100vh - 50px );
	}
}

body.endi .layout {
	&.flex {
		display: flex;
		.vertical_align_center {
			align-self: center;
		}
		&.full {
			justify-content: space-between;
		}
	}
	&.two_cols {
		flex-wrap: wrap;
		> * {
			width: 50%;
		}
		> div:nth-child(2n) {
			padding-left: $unitPadding*2;
		}
		> div:nth-child(2n+1) {
			padding-right: $unitPadding*2;
		}
		&.third {
			> *:nth-child(2n + 1) {
				width: 33.3333%;
			}
			> *:nth-child(2n) {
				width: 66.6666%;
			}
		}
		&.third_reverse {
			> *:nth-child(2n + 1) {
				width: 66.6666%;
			}
			> *:nth-child(2n) {
				width: 33.3333%;
			}
		}
		&.quarter {
			> *:nth-child(2n + 1) {
				width: 25%;
			}
			> *:nth-child(2n) {
				width: 75%;
			}
		}
		&.quarter_reverse {
			> *:nth-child(2n + 1) {
				width: 75%;
			}
			> *:nth-child(2n) {
				width: 25%;
			}
		}
	}
	&.three_cols {
		flex-wrap: wrap;
		> * {
			width: 33.3333%;
		}
		> div {
			padding-right: $unitPadding*2;
		}
		> div:nth-child(3n+2) {
			padding-left: $unitPadding*2;
		}
		> div:nth-child(3n) {
			padding-left: $unitPadding*2;
			padding-right: 0;
		}
	}
	&.four_cols {
		flex-wrap: wrap;
		> * {
			width: 25%;
		}
		> div {
			padding-left: $unitPadding*2;
			padding-right: $unitPadding*2;
		}
		> div:nth-child(4n) {
			padding-right: 0;
		}
		> div:nth-child(4n+1) {
			padding-left: 0;
		}
	}
	.col-md-1 {
		width: 8.3333%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-2 {
		width: 16.6666%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-3 {
		width: 25%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-4 {
		width: 33.3333%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-5 {
		width: 41.6666%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-6 {
		width: 50%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-7 {
		width: 58.3333%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-8 {
		width: 66.6666%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-9 {
		width: 75%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-10 {
		width: 83.3333%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-11 {
		width: 91.6666%;
		&:not(:last-child),
		&:only-child {
			padding-right: $unitPadding*2;
		}
	}
	.col-md-12 {
		width: 100%;
	}
}
// @media ( max-width: $wideWidth ) {
// 	body.endi .main_area {
// 		overflow-x: hidden;
// 		overflow-y: auto;
// 	}
// }
@media ( max-width: $tabletWidth ) {
	body.endi .layout {
		&.flex {
			flex-wrap: wrap;
		}
		&.two_cols.third,
		&.two_cols.third_reverse,
		&.two_cols.quarter,
		&.two_cols.quarter_reverse {
			> div:nth-child(2n + 1),
			> div:nth-child(2n) {
				width: 100%;
			}
		}
	}
	body.endi .base_content {
		min-height: 100vh;
		height: auto;
	}
	body.endi .no_tablet {
		display: none;
	}
}
@media ( max-width: $mobileWidth ) {
	html {
		overflow-y: auto;
	}
	body.endi {
		overflow-y: auto;
		.base_layout,
		.base_content {
			min-height: 100vh;
			height: auto;
			overflow-y: visible;
		}
		.main_area {
			height: auto;
			overflow: visible;
		}
	}
	body.endi .layout {
		&.two_cols,
		&.three_cols,
		&.four_cols {
			> * {
				width: 100%;
			}
			> div {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.col-md-1 {
			width: 33.3333%;
		}
		.col-md-2 {
			width: 50%;
		}
		.col-md-3 {
			width: 66.6666%;
		}
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-10,
		.col-md-11 {
			width: 100%;
			&:not(:last-child),
			&:only-child {
				padding-right: 0;
			}
		}
// 		&.two_cols.third {
// 			> div:nth-child(2n + 1),
// 			> div:nth-child(2n) {
// 				width: 100%;
// 			}
// 		}
	}
	body.endi .no_mobile {
		display: none;
	}
}
