// notifications

body.endi .notifications {
	position: absolute;
	right: 0;
	top: 0;
	ul {
		list-style-type: none;
	}
	li {
		align-items: center;
		background: $transWhite;
		border-left: 5px solid $white;
		box-shadow: 0 0 1px $white, 0 0 5px $black;
		display: flex;
		justify-content: space-between;
		margin: 5px;
		&[class] {
			span.icon {
				svg {
					fill: $white;
				}
			}
		}
		&.success {
			border-left-color: $funcPositive;
			span.icon {
				background: $funcPositive;
			}
		}
		&.error {
			border-left-color: $funcNegative;
			span.icon {
				background: $funcNegative;
			}
		}
		&.caution {
			border-left-color: $funcCaution;
			span.icon {
				background: $funcCaution;
			}
		}
		&.neutral {
			border-left-color: $funcNeutral;
			span.icon {
				background: $funcNeutral;
			}
		}
		.text {
			padding: $unitPadding $unitPadding*2;
			width: calc( 100% - 58px );
		}
		&[aria-hidden="true"] {
			display: none;
		}
	}
	span {
		display: inline-block;
	}
	span.icon {
		align-self: stretch;
		flex: 0 0 auto;
		width: 48px;
		svg {
			fill: $black;
			height: 32px;
			margin: 6px;
			width: 32px;
		}
	}
	.close {
		align-self: flex-start;
		svg {
			fill: $black;
		}
		&:hover,
		&:focus,
		&:active {
			background: $white;
		}
	}
}
@media ( min-width: $wideWidth ) {
	body.endi .notifications li {
		width: 25vw;
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .notifications li {
		width: 33vw;
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .notifications li {
		width: 50vw;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .notifications li {
		width: calc( 100vw - 10px );
	}
}
