body.endi .pager {
	border-top: 1px solid $veryFadedGrey;
	padding: $unitPadding 0;
	a.btn,
	span,
	button {
		line-height: 2em;
		min-width: 2em;
		padding: 0 2px;
		text-align: center;
	}
	span {
		display: inline-block;
		+ button,
		+ .btn {
			margin-left: $unitPadding;
		}
	}
	.btn, 
	button {
		+ span {
			margin-left: $unitPadding;
		}
	}
	span.current {
		background: black;
		color: $white;
	}
	span.spacer {
		color: $midGrey;
	}
}
body.endi.theme_manage_people .pager {
	span.current {
		background: $darkBlue;
	}
}
body.endi.theme_manage_entity .pager {
	span.current {
		background: $veryLightBlue;
		color: $black;
	}
}
