body.endi.manage-view .page-header-block .message, body.endi.company_index-view .page-header-block .message {
  padding-top: 20px; }

body.endi.manage-view ul.activities, body.endi.company_index-view ul.activities {
  padding-bottom: 10px; }
  body.endi.manage-view ul.activities a, body.endi.company_index-view ul.activities a {
    color: black;
    display: flex;
    font-size: .825rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    line-height: 1.5;
    text-decoration: none; }
    body.endi.manage-view ul.activities a:hover, body.endi.manage-view ul.activities a:focus, body.endi.manage-view ul.activities a:active, body.endi.company_index-view ul.activities a:hover, body.endi.company_index-view ul.activities a:focus, body.endi.company_index-view ul.activities a:active {
      text-decoration: underline; }
  body.endi.manage-view ul.activities .activity_time, body.endi.company_index-view ul.activities .activity_time {
    padding-left: 10px;
    white-space: nowrap; }

body.endi .dashboard {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px; }
  body.endi .dashboard .columns {
    column-count: 2;
    padding-bottom: 20px;
    padding-top: 10px; }
  body.endi .dashboard .dash_elem {
    background: white;
    box-shadow: 0 0 5px #b0b0b0;
    display: inline-block;
    margin: 10px;
    page-break-inside: avoid;
    -webkit-break-inside: avoid;
    break-inside: avoid;
    width: calc( 100% - 20px); }
    body.endi .dashboard .dash_elem h2 {
      page-break-before: avoid;
      -webkit-break-before: avoid;
      break-before: avoid; }
    body.endi .dashboard .dash_elem p.message,
    body.endi .dashboard .dash_elem ul {
      margin: 5px 10px; }
    body.endi .dashboard .dash_elem .panel-body > p {
      margin: 0 10px; }
  body.endi .dashboard .alert {
    margin: 10px 10px 20px; }
  body.endi .dashboard h2 {
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    height: 2.4em;
    line-height: 1;
    overflow: hidden;
    padding-right: 1.2em;
    position: relative; }
    body.endi .dashboard h2 .icon:first-child {
      background: black;
      flex: 0 0 auto;
      height: 2.5em;
      width: 2.5em; }
      body.endi .dashboard h2 .icon:first-child svg {
        display: block;
        fill: white;
        height: 2em;
        margin: .5em;
        width: 2em; }
    body.endi .dashboard h2 .icon.caution:first-child {
      background: #ff9600; }
    body.endi .dashboard h2 .icon.invalid:first-child {
      background: #e11400; }
    body.endi .dashboard h2 .icon.close {
      right: 0;
      position: absolute;
      top: 0; }
    body.endi .dashboard h2 span:nth-child(2):not(.icon),
    body.endi .dashboard h2 a {
      display: block;
      padding-left: 5px;
      width: calc( 100% - 48px); }
    body.endi .dashboard h2 a {
      color: black; }
      body.endi .dashboard h2 a svg {
        opacity: .05;
        vertical-align: bottom; }
      body.endi .dashboard h2 a:hover, body.endi .dashboard h2 a:focus, body.endi .dashboard h2 a:active {
        text-decoration: none; }
        body.endi .dashboard h2 a:hover svg, body.endi .dashboard h2 a:focus svg, body.endi .dashboard h2 a:active svg {
          fill: #1de67e;
          opacity: 1; }
  body.endi .dashboard table {
    margin: 10px 5px;
    width: calc( 100% - 10px); }

body.endi .main_toolbar + .dashboard {
  padding-top: 10px; }

@media (min-width: 1400px) {
  body.endi .dashboard .columns {
    column-count: 3; } }

@media (min-width: 800px) {
  body.endi .dashboard .col {
    width: 50%; } }

@media (max-width: 800px) {
  body.endi .dashboard {
    padding-top: 10px; }
    body.endi .dashboard .columns {
      column-count: 1; }
    body.endi .dashboard .col {
      width: 100%; } }

body.endi.theme_manage_people .dashboard h2 .icon:first-child {
  background: #005c98; }

body.endi.theme_manage_people .dashboard h2 .icon.caution:first-child {
  background: #ff9600; }

body.endi.theme_manage_people .dashboard h2 .icon.invalid:first-child {
  background: #e11400; }

body.endi.theme_manage_entity .dashboard h2 .icon:first-child {
  background: #21cdf7; }
  body.endi.theme_manage_entity .dashboard h2 .icon:first-child svg {
    fill: black; }

body.endi.theme_manage_entity .dashboard h2 .icon.caution:first-child {
  background: #ff9600; }

body.endi.theme_manage_entity .dashboard h2 .icon.invalid:first-child {
  background: #e11400; }
