html {
  font-size: 9pt;
  position: relative; }

.keep_with_next {
  -pdf-keep-with-next: true; }

.pdf_header {
  height: 9cm; }

.pdf_logo {
  border: 0 none white;
  width: auto; }
  .pdf_logo td {
    border: 0 none white;
    text-align: left;
    vertical-align: middle; }
    .pdf_logo td.logo_cell {
      height: 4.25cm;
      overflow: hidden;
      width: 4.25cm; }
  .pdf_logo .logo_img {
    height: auto;
    width: 4cm; }

.pdf_address_block {
  display: block;
  margin: .25cm 2cm 0 9.5cm;
  position: absolute; }

.pdf_information {
  margin-right: 11cm;
  width: 10cm; }
  .pdf_information h3 {
    font-size: 11pt;
    margin: 0;
    padding: 0.05cm 0 0; }
  .pdf_information .coop_header {
    border: 0.25pt solid #808080;
    margin: 0.05cm 0;
    padding: 0.1cm; }

.pdf_spacer {
  font-size: 2pt; }

table {
  border-collapse: collapse;
  border: 0.25pt solid #808080; }
  table tr:nth-child(2n+1) {
    background: none !important; }

th,
td {
  border: 0.25pt solid #808080;
  font-size: 8pt;
  padding: 0.1cm 0.05cm 0.025cm;
  vertical-align: top; }

.col_text {
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: left; }

.col_number,
.col_text.align_right {
  text-align: right; }

.col_date {
  width: 4cm; }

.price,
.price_total {
  width: 3cm; }

.price_total {
  background: #f9f9f9; }

.unity {
  width: 2.25cm; }

.quantity {
  width: 1.5cm; }

.tva {
  width: 2cm; }

.signature {
  width: 5cm; }

.screen-reader-text {
  display: none; }

.payment_conditions + table th {
  text-align: left; }

.pdf_mention_block h4 {
  background: #f9f9f9;
  border: 0.5pt solid #808080;
  border-width: .5pt .5pt 0;
  margin: 0.2cm 0 0;
  padding: 0.1cm 0.1cm 0;
  -pdf-keep-with-next: true; }

.pdf_mention_block p {
  border: 0.5pt solid #808080;
  border-width: 0 .5pt .5pt;
  margin: 0;
  padding: 0.2cm 0.1cm 0.05cm; }

.pdf_sign_block {
  margin-bottom: 0.4cm;
  margin-left: 13cm;
  width: 8cm; }
  .pdf_sign_block .pdf_sign_block_width h4 {
    background: #f9f9f9;
    border: 0.5pt solid #808080;
    border-width: .5pt .5pt .25pt;
    border-bottom-style: dashed;
    margin: 0.2cm 0 0;
    padding: 0.1cm 0.1cm 0; }
  .pdf_sign_block .pdf_sign_block_width p {
    border: 0.5pt solid #808080;
    margin: 0;
    padding: 0.3cm 0.1cm 0.2cm; }
  .pdf_sign_block .pdf_sign_block_width .date {
    border-width: 0 .5pt; }
  .pdf_sign_block .pdf_sign_block_width .signature {
    border-width: .25pt .5pt .5pt;
    padding-bottom: 2cm; }

.pdf_footer {
  background: #f9f9f9;
  font-size: 7pt;
  margin: 0;
  text-align: center; }
  .pdf_footer p:last-child {
    padding-bottom: 0; }

.pdf_cgv {
  font-size: 7pt;
  padding: 0;
  text-align: justify; }

.pdf_page_number {
  margin: 0;
  text-align: center; }

#cgv h1, #cgv h2, #cgv h3, #cgv h4, #cgv h5 {
  margin: .1cm; }

.activity_view .pdf_title_block {
  text-align: center; }
  .activity_view .pdf_title_block h2 {
    margin: 0;
    padding: 0; }
  .activity_view .pdf_title_block p {
    margin: 0;
    padding: 0; }

.activity_view .activity_people {
  font-size: 9pt; }

.workshop_view td.col_text.description {
  vertical-align: middle; }

.upper {
  text-transform: uppercase; }

.description ul {
  margin-bottom: 3px; }

.description li, .description p, .description div {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  line-height: 1.2;
  vertical-align: middle; }

.description p {
  margin: 2px 0px; }

.activity-title {
  border-bottom: 0.5pt solid #808080;
  font-weight: 500;
  margin: .2cm 0 .1cm;
  padding: 0; }

.activity-content {
  padding-left: .5cm; }
